<html>
	<head>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<script src="../js/script.js"></script>
		<form name="test" id="formulario">
			nombre: <input type="text" name="nombre" id="nombre" />
			<br><
			fecha nacimiento: <input type="text" name="fecha_nacimiento" id="fecha_nacimiento" />
			<br>
			edad: 
			<input name="boton" value="boton"  type="button" onclick="javascript: hola()" />
			<input name="clean" value="clean" type="button" onclick="javascript: cleanform()" />
		</form>
	</body>
</html>